<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ora.android.eyecup">
    <!-- service permissions -->
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />    <!-- required by Android 9 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />        <!-- service permissions end -->
    <!-- file system access -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />                <!-- Camera -->

    <uses-permission android:name="android.permission.INTERNET" />              <!-- post files -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- post files -->

<!--    <uses-feature android:name="android.hardware.camera2.full" />-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--    wake up to do stuff    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:logo="@drawable/ora_web"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--idle activity-->
        <activity android:name=".IdleActivity" />

        <!--login activity-->
        <activity android:name=".ui.login.LoginActivity" />

        <!--admin activity-->
        <activity android:name=".AdminActivity" />

        <!-- control activities -->
        <activity android:name=".SingleRadioBtnsActivity" />
        <activity android:name=".DoubleRadioBtnsActivity" />
        <activity android:name=".SingleListActivity" />
        <activity android:name=".DoubleListActivity" />
        <activity android:name=".SingleSeekBarActivity" />
        <activity android:name=".DoubleSeekBarActivity" />
        <activity android:name=".InstructionActivity" />
        <activity android:name=".CameraActivity"
            android:hardwareAccelerated="true"
            /> <!-- service tags -->

        <service
            android:name=".restarter.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".AlwaysService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".restarter.RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartAlwaysServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>